.pet-link {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.pet-card {
  list-style: none;
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  border-radius: 5px;

}

.pet-img {
  width: 300px;
  height: 150px;
}

.pets-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

}
