<div class="container">
  <div class="banner">
    <h1>PetBnB <strong><br>Rent Instant Animal Love <br>& Easy Pet Friendship</strong></h1>
  </div>
  <div>
    <h2>Feeling lonely? Looking for a friend?<br> But You don’t like to commit for long?</h2> <p> Tired of humans? Try animals instead! Pets are always there for You for be petted! Instant Love© and Friendship© Guaranteed! Simply Rent a Friend while Renting a Pet. Try PetBnB — it’s easy.</p> 
  </div>
  <div class="section2">
    <h2>PetBnB & Love-Lender©: <br>How does it work?</h2>
    <p>Browse simply our PetBnB-Database and Pick Your future Pet Friend. <br>Upon confirmation by the Pet’s Love-Lender©, meet your new Pet Friend, ready for you to be friended! Our pets love to be petted. <br>And when you are done, simply return Your new friend!</p>
  </div>
  <div class="section3">
    <h2>Your new PetFriend is waiting for You! <br>What are You waiting for?</h2>
    <p>Our Pets will not let you down, always there for you when you are in need of a friend, ready to be picked, can’t wait to be petted. <br>Get Your shot of Instant Friendship© <br>Sign up — it’s easy @ PetBnB</p>
  </div>
  <div class="section4">
    <h2>Make the world a better place: <br>Become a Pet Love-Lender©!</h2>
    <p>Already a PetLover and looking for Your Pet to be shared? Become a Pet Love-Lender©! <br>Make the world a better place — PetBnB proudly decreases the annual Pet-emission near motorway service areas. <br>Friendship is Love. And Love is abundant — why own if you can share, sharing Pets enables many others to become PetLovers. <br>Ready to change the world for better? <br><strong>Chicks For Rent!</strong> Saving Chicks from being shredded to death, with option to dispose them at the end of your rent <br>(on request directly with your Pet Love-Lender©).</p>
  </div>
  <div class="cta">
    <%= link_to "See all animals", pets_path, class: "btn btn-info" %>
  </div>
</div>
