<div class="banner">
  <h1> Rent a pet <strong> simple & easy!</strong></h1>
</div>
<div class="container">

  <div class="banner">
    <h1>PetBnB <strong><br>Rent Instant Animal Love <br>& Easy Pet Friendship</strong></h1>
  </div>
  <div>
    <h2>Feeling lonely? Looking for a friend? <br> Love Animals?<br> Don't like to commit for too long?</h2> <p>Simply Rent a Friend while Renting a Pet. Try PetBnB — it’s easy.</p>
  </div>
  <div class="section2">
    <h2>PetBnB & PetLender:</h2> <p>How does it work?</p>
    <p>Simply browse our PetBnB-Database and Pick Your future PetFriend. <br>Upon confirmation by the PetLender, meet your new Pet Friend, ready for you to be friended <br>And whenever you like, simply return Your new friend!</p>

    <p>Are you looking for an animal companion but don't want to commit yourself? Pet BnB allows you to rent pets and only enjoy the positive aspects of the pet owner. </p>
  <div class="index-card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579199931550-7496521679ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80)">
      <h1>Cats</h1>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585664811087-47f65abbad64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2775&q=80)">
   <h1>Dogs</h1>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1589216785379-3543833a4961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=802&q=80)">
  <h1>Birds</h1>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1615862408562-d447f3952da8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  <h1>Hamsters</h1>
    </div>
</div>

<div class="section2">
    <h2>How does it work?</h2>
    <p>As soon as the pet owner and pet friend have found each other on our site, they can meet the pet together. If it's a match between everyone, the new friend can spend time alone with the pet in the future and relieve the dog owner as necessary. </p>

  </div>
  <div class="section3">
    <h2>Your new PetFriend is waiting for You! <br>What are You waiting for?</h2>
    <p>Get Your shot of Instant Friendship© <br>Register and Sign in — it’s easy @ PetBnB</p>
  </div>
  <div class="section4">
    <h2>Make the world a better place: <br>Become a PetLender!</h2>
    <p>Already a PetLover and looking for Your Pet to be shared? Become a PetLender! <br>Make the world a better place — <br>Why own if you can share? Sharing Pets enables many others to become PetLovers.</p>
  </div>
  <div class="cta">
    <%= link_to "See all animals", pets_path, class: "btn btn-info" %>
  </div>
</div>
    </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
