<div class="container">
  <div class="section1">
    <h1><strong>PetBnB<strong> — Rent Instant Love & Easy Friendship
</h1>
    <p>Feeling lonely?

Looking for a friend? But You don’t like to commit for long?

Tired of humans? Try animals instead!

Pets are always there for You for be petted!

Instant Love© and Friendship© Guaranteed!

Simply Rent a Friend while Renting a Pet.

Try PetBnB — it’s easy.</p>
  </div>
  <div class="section2">
    <h2>How does it work?</h2>
    <p>As soon as the pet owner and pet friend have found each other on our site, they can meet the pet together. If it's a match between everyone, the new friend can spend time alone with the pet in the future and relieve the dog owner as necessary. </p>
  </div>
  <div class="section3">
    <h2>What are you waiting for?</h2>
    <p>Start today! Register and enjoy more free time as a pet owner or finally more time with an animal companion as an animal friend.</p>
  </div>
  <div class="cta">
    <%= link_to "See all animals", pets_path, class: "btn btn-info" %>
  </div>
</div>
