.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon ul {
  font-size: 21px;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  align-items: center;
}
